body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}
header {
    text-align: center;
    padding: 20px 0;
}
#logos {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#logos img {
    width: 150px;
    margin: 0 10px;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}
input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    width: calc(100% - 22px);
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #333;
}
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    z-index: 999;
}
#popup img {
    width: 100px;
    margin-bottom: 10px;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #ffffff; /* Change background color */
    color: #000000; /* Change text color */
    text-align: center;
    z-index: 999;
}
#popup img {
    width: 300px;
    margin: 0 auto; /* Center the image */
    display: block; /* Ensure image is displayed as block element */
    filter: invert(1); /* Invert logo colors */
}
#popup-message {
    margin-top: 20px;
}
.pictures {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.pictures img {
    width: 150px;
    margin: 0 10px;
}

#logos img {
    width: 300px;
    margin: 0 10px;
    filter: invert(1); /* Invert logo colors */
}

.pictures {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.pictures img {
    width: 500px;
    height: 300px; /* Increased width for desktop */
    margin: 0 10px;
}

/* Media Query for mobile devices */
@media only screen and (max-width: 600px) {
    .pictures img {
        width: 500px; /* Reduced width for mobile */
    }
}


.install-button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: block;
    margin: 20px auto; /* Center the button */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .install-button {
        font-size: 1em;
        padding: 10px 20px;
    }
}